    /* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
    /*Global specifications*/
    
    html,
    body {
        margin: 0px;
        height: 100%;
    }
    
    body {
        background-color: #ffffff;
        color: #000000;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        margin: 0;
    }
    /* CONTAINERS */
    
    .top-container,
    .about-me-container,
    .my-work-container,
    .experience-container,
    .contact-container {
        height: 100%;
        position: relative;
        padding-top: 100px;
    }
    
    .row {
        margin: 0;
    }
    
    .section-top-margin {
        margin-top: 75px;
    }
    
    .full-height {
        height: 100%;
    }
    /* ALIGNMENT */
    
    .vertical-horizontal-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .horizontal-center {
        text-align: center;
    }
    
    .bottom-page-align {
        margin-top: 15%;
    }
    /* GENERAL TEXTS */
    
    .title {
        font-size: 1.37rem;
        /*22 pixels*/
    }
    
    .small-subtitle {
        font-size: 1.125rem;
        /*18 px*/
    }
    
    .small-text {
        font-size: 1rem;
        /*16 pixels*/
    }
    /* PRESENTATION */
    
    .top-container {
        text-align: center;
    }
    
    .top-container-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .top-gray-text {
        color: #9D9D9D;
        font-size: 2.875rem;
        /* 46 pixels*/
    }
    
    .top-black-text {
        font-size: 3.5rem;
        /*56 pixels*/
    }
    /* NAVBAR */
    
    .navbar-brand {
        font-weight: 700;
        font-size: 1.37rem;
    }
    
    .nav-link {
        font-size: 1.37rem;
    }
    /* ABOUT ME */
    
    .photo-container {
        position: relative;
    }
    
    .about-text {
        color: #ffffff;
        margin: auto 0;
        padding: 0 40px;
        text-align: center;
    }
    
    .about-title {
        color: #ffffff;
        font-size: 3.5rem;
        font-weight: 700;
        position: absolute;
        bottom: 20px;
        left: 140px;
    }
    
    .background-square {
        background-color: #545454;
        height: 75%;
        position: absolute;
        left: 50%;
        bottom: 0;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        width: 85%;
    }
    /* WORK */
    
    .col-work-info {
        width: 50%;
        text-align: center;
    }
    
    .work-text-container {
        position: absolute;
        top: 3.5rem;
        left: 5rem;
        text-align: end;
        transition: .5s ease;
        opacity: 0;
    }
    
    .work-img-title {
        font-weight: 700;
    }
    
    .work-img {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
        opacity: 1;
        transition: .5s ease;
    }
    
    .work-info-container:hover .work-img {
        opacity: 0.3;
        cursor: pointer;
    }
    
    .work-info-container:hover .work-text-container {
        opacity: 1;
    }
    /* FOOTER */
    
    .footer-container {
        background-color: #79B4B7;
        padding: 50px 0 20px;
        text-align: center;
    }
    
    .copy-right-text {
        color: #EAF6F6;
        font-size: 0.75rem;
        padding: 20px 0;
    }
    
    a.footer-link {
        color: #649597;
        margin: 10px 20px;
        text-decoration: none;
    }
    
    a.footer-link:hover {
        color: #EAF6F6
    }
    /*media queries*/
    
    @media(min-width:2560px) {
        .profile-img {
            width: 15%;
            position: absolute;
            right: 375px;
            top: 240px;
        }
        .me-section-text {
            padding: 30px 290px 30px 282px
        }
        body {
            font-size: 1.8rem;
        }
        .top-container {
            padding-top: 350px;
        }
    }
    
    @media(max-width:768px) {
        .big-title-text {
            font-size: 5rem;
            line-height: 110%;
            margin-top: 0;
            margin-bottom: 0;
        }
        .big-subtitle-text {
            font-size: 2rem;
            text-align: right;
            margin-top: 0;
            line-height: 90%;
        }
        .profile-img {
            width: 30%;
            position: absolute;
            right: 30px;
            top: 250px;
        }
        .me-section-text {
            padding: 30px 10px 30px 50px
        }
        .presentation-title {
            width: 100%;
        }
    }
    
    @media(max-width:426px) {
        .big-title-text {
            font-size: 4rem;
            line-height: 110%;
            margin-top: 0;
            margin-bottom: 0;
        }
        .big-subtitle-text {
            font-size: 1.3rem;
            text-align: right;
            margin-top: 0;
            line-height: 90%;
        }
        .middle-container {
            position: static;
        }
        .profile-img {
            margin: 0 auto;
            width: 60%;
            position: static;
            display: block;
        }
        .about-me-container {
            width: 100%;
        }
        .me-section-text {
            padding: 30px 10px 30px 50px
        }
        .presentation-title {
            width: 100%;
        }
    }